*{
    margin:0;
    padding:0;
}
body{
    background-color:white (31, 204, 117);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
header{
    background-color:white(20, 184, 184);
    color: black;
    text-align: center;
    padding: 20px;
}
nav ul{
    list-style-type: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a{
    text-decoration: none;
    color:white(132, 107, 192);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section{
    margin: 20px;
    padding: 20px;
    background-color:white(95, 82, 119);
    box-shadow: 0px 0px 10px rgba(223, 104, 193, 0.1);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #9919c0;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(172, 49, 49);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  footer{
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
  }
 